.bgcolor{
    background-color:#9975f3;
    color: #ffffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    
  }
  .txt-color{
    color: white;
  }
  .txt-color{
    color: white;
  }
  #logout{
    margin-right: 10px;
  }