*{

    padding-left: 5px;
    padding-right: 15px;
   }
   table{
         
      border: 1px solid;
      border-style:outset;
     
   }    
   .cb{
       text-align: center;
   }
  
   .card
   {
    padding-left: 15%;

   }
  